[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.0"
lxml = "==5.2.1"
pandas = "==2.2.2"
urllib3 = "*"

[dev-packages]
black = "*"
setuptools = "*"

[requires]
python_version = "3.12"
